.heading{
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: #0069d9;
    padding: .7em;
    border-color: #0062cc;
    margin-bottom: 1em;
}
.remove{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
#pano{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: 2;
}
.blur{
  -webkit-filter: blur(13px);
  -moz-filter: blur(13px);
  -o-filter: blur(13px);
  -ms-filter: blur(13px);
  filter: blur(13px);z-index:2
}
.be_error{
  color:red;
  border : 2px solid red;
  margin-top: 2%;
  margin-bottom:2%;
  padding: 1%;
}
.primary-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background: #1565C0;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
  cursor: pointer;
  &:hover{
    background: #001747;
  }
  &:disabled{
    background: #E8E8E8;
    color: #666666;
    cursor: default;
  }
}